<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/homepage.css">

<%- include('./partials/nav') %>


<div class="content">
  <div class="slide active">
    <!-- random img -->
    <!-- <img src="https://picsum.photos/800/1000?blur=2" alt="picsum"> -->
    <img class="bg-img" src="<%= imgPath %>" alt="">
    <div class="left_slide">
      <h1>Welcome back,</h1>
      <div class="info">
        <p><%= quote.content %></p>
        <p style="font-style: italic;"><%= quote.author %></p>
        <a href="/posts"><button class="btn">All Posts</button></a>
      </div>
    </div>
    <div class="right_slide">
      <div class="info">
        <h1 style="margin-bottom: 2rem;">
          <%= user ? user.profile.name : "guest" %>
        </h1>
        <div class="weather-info">
          <%= weatherData.current.condition.text %>. Current <%= weatherData.current.temp_f %>°F
          <img src="<%= weatherData.current.condition.icon %>" alt="wetherIcon">
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>