<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include("../partials/nav") %>

<section class="main-body">
  <% posts.forEach(post => { %>
  <% if (post.approved) { %>
  <div class="post-content">
    <h1>
      <a class="a-title" href="/posts/<%= post._id %>">
        <%= post.title %>
      </a>
    </h1>
    <p><%= post.content.slice(0,65) %> ... <a class="read-more" href="/posts/<%= post._id %>">read more</a></p>

    <% if (user) { %>
    <% if (user.profile.isAdmin) { %>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Post</button>
    </form>
    <% } %>
    <% } %>
  </div>
  <% }  %>

  <% }) %>

  <!-- New Post button -->
  <% if (user) { %>
  <a href="/posts/new"><button class="btn">New Post</button></a>
  <% } %>
</section>


<%- include("../partials/footer") %>