<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include("../partials/nav") %>

<section class="main-body">
  <% if (user) { %>
  <% if (user.profile.isAdmin) { %>
  <% posts.forEach(post => { %>
  <div class="post-content">
    <h1>
      <%= post.title %>
    </h1>
    <p><%= post.content %></p>
    <form action="/posts/<%= post._id %>/approve?_method=PUT" method="POST">
      <button type="submit" class="btn">Approve</button>
    </form>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn">Delete Post</button>
    </form>
  </div>
  <% }) %>
  <% } %>
  <% } %>
</section>


<%- include("../partials/footer") %>