<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<script defer src="/stylesheets/posts/show.js"></script>
<%- include("../partials/nav") %>
<div class="main-body">
  <h1><%= post.title %></h1>
  <div class="author-info">
    <div>BY <a href=""><%= post.author.name.toUpperCase() %></a></div>
    <div>POSTED: <%= post.createdAt.toLocaleDateString()%> - <%= post.createdAt.toLocaleTimeString() %></div>
  </div>
  <p><%= post.content %></p>

  <% if (user?.profile.isAdmin) { %>
  <a href="/posts/<%= post._id %>/edit"><button class="btn">Edit Post</button></a>
  <% } %>

  <!-- COMMENT-SECTION -->
  <div class="comment-section">
    <h1>Conversation <span class="count-comments"><%= post.comments.length %></span>
      <% if (post.comments.length < 2) { %>
      <span class="count-comments">Comment</span>
      <% } else { %>
      <span class="count-comments">Comments</span>
      <% } %>
    </h1>
    <% if (user) { %>
    <form action="/posts/<%= post._id %>/comment" method="POST">
      <input id="comment-input" type="text" name="content" placeholder="What do you think?" autocomplete="off" />
    </form>
    <% } %>
    <ul>
      <% post.comments?.forEach(comment => { %>
      <li>
        <p class="author-name"> <span><img class="avatar" src="https://ui-avatars.com/api/?name=<%= comment.author.name.split(" ").join("+") %>"></span> <%= comment.author.name %>
        </p>
        <p style="margin-top: 5px;"><%= comment.content %></p>

        <div class="edit-comment">
          <% if (comment.author.equals(user?.profile._id) || user?.profile.isAdmin) { %>
          <button class="edit-btn">
            <i class="fa-solid fa-pen-fancy"></i>
          </button>
          <form action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit"><i class="fa-regular fa-trash-can"></i></button>
          </form>
        </div>
        <div class="edit-form">
          <form action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
            <input type="text" name="content" autocomplete="off" placeholder="edit comment ...">
          </form>
        </div>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<%- include("../partials/footer") %>